# Python Introducción

## Curso de introducción al lenguaje de programación python

### @author: galexbh@protonmail.com

Esta declaración no es necesaria en Python 3 ya que UTF-8 es la codificación fuente predeterminada (consulte [PEP 3120](https://www.python.org/dev/peps/pep-3120/)). Además, puede valer la pena verificar que su editor de texto codifique correctamente su código en UTF-8. De lo contrario, puede tener caracteres invisibles que no se interpretan como UTF-8.

In [ ]:
# -*- coding: utf-8 -*-
""" Se declara en el inicio """

### Comentarios

In [ ]:
# ⭐ Comentario de una linea ⭐

"""
   ⭐⭐⭐⭐⭐⭐
    Comentario
        de
     Multiples
      Lineas
   ⭐⭐⭐⭐⭐⭐
"""

### Operadores aritmeticos

In [ ]:
# Suma
print("Suma de 13+89 = ", 13+89, '\n')

# Resta
print("Resta de 75-41 = ", 75-41, '\n')

# Multiplicación
print("Multiplicación de 7*8 =", 7*8, '\n')

# División
print("Divisón de 10/3 = ",10/3, '\n')

# Modulo
print("Modulo ó Residuo de la divisón de 10/3 = ", 10%3, '\n')

# Cociente
print("Cociente de 10/3 = ", 10//3, '\n')

# Potencia
print("Potencia de 2³ = ", pow(2,3), '\n')

print("Forma alternativa 2⁴ = ", 2**4, '\n')

# Raiz
print("Raiz de 4 = ", 4**(1/2), '\n')

# Valor Absoluto
print("Valor absoluto de -5 = ", abs(-5), '\n')

# Redondeo
print("Redondear 4.35 = ", round(4.35), '\n')

Suma de 13+89 =  102

Resta de 75-41 =  34

Multiplicación de 7*8 = 56

Divisón de 10/3 =  3.3333333333333335

Modulo ó Residuo de la divisón de 10/3 =  1

Cociente de 10/3 =  3

Potencia de 2³ =  8

Forma alternativa 2⁴ =  16

Raiz de 4 =  2.0

Valor absoluto de -5 =  5

Redondear 4.35 =  4

### Impresión por Consola

In [ ]:
print("De está forma imprimiremos por consola")

print("""
    De está forma podremos colocar
    un mensaje de multiples lineas
 """)

# También podemos aplicar la multiplicación en las cadenas

print("-"*50)

print("Podemos ","concatenar"," información"," usando la coma (,)")
print("También " + "con" + " signo +")

print(f"La mejor manera es usando la f de 'Formatted'")

print("-"*50)
# caracteres especiales

print("\nsalto de linea")
print("\t identación")

De está forma imprimiremos por consola

    De está forma podremos colocar
    un mensaje de multiples lineas

--------------------------------------------------
Podemos  concatenar  información  usando la coma (,)
También con signo +
La mejor manera es usando la f de 'Formatted'
--------------------------------------------------

salto de linea
	 identación

### Tipo de datos primitivos

In [ ]:
# Tipo de dato entero
print(type(13))

# Tipo de dato punto flotante ó decimal
print(type(13.0))

# Tipo de dato complejo
print(type(1+2j))

# Tipo de dato string ó cadena de texto
print(type("galexbh"))
print(type('0'))

# Tipo de dato booleano
print(type(True))
print(type(False))

# Tipo de dato diccionario
print(type({}))

# Tipo de dato lista
print(type([]))

# Tipo de dato tupla
print(type(()))

# Ningún tipo
print(type(None))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'dict'>
<class 'list'>
<class 'tuple'>
<class 'NoneType'>

### Varibles

In [ ]:
"""
Snake case es la convención que compone las palabras separadas por
barra baja (underscore) en vez de espacios y con la 
primera letra de cada palabra en minúscula.

Este tipo de convención se utiliza en nombres de variables y funciones
de lenguajes antiguo particularmente asociado con C.
Aunque también lenguajes como Ruby y Python lo han adoptado.
"""
# Asignación de variable

# entero
soy_un_int = 13
print(f"entero: {soy_un_int}")

x = soy_un_int
print(f"valor de x: {x}")

# flotante
soy_un_float = 13.5
print(f"flotante {soy_un_float}")

# complejo
soy_un_complex = 12 +3j
print(f"complejo: {soy_un_complex}")

# cadena
soy_un_string = "hellow world"
print(f"string: {soy_un_string}")

# booleano
soy_un_bool = False
print(f"bool: {soy_un_bool}")

# lista
soy_una_list = [1,2,3,"a","b","c"]
print(f"lista: {soy_una_list}")

# diccionario
soy_un_dict = {
    "name": "galex",
    "age": 21,
    "things": [13, "laptop", (12,3)]
}
print(f"diccionario: {soy_un_dict}")
print(f"atributo del diccionario: {soy_un_dict['name']}")

# Método alternativo para imprimir variables en consola
print("atributo del diccionario: %s"%(soy_un_dict["things"]))

entero: 13
valor de x: 13
flotante 13.5
complejo: (12+3j)
string: hellow world
bool: False
lista: [1, 2, 3, 'a', 'b', 'c']
diccionario: {'name': 'galex', 'age': 21, 'things': [13, 'laptop', (12, 3)]}
atributo del diccionario: galex
atributo del diccionario: [13, 'laptop', (12, 3)]

### Datos por teclado

In [2]:
variable = input("Los datos ingresados serán tipo <string> ")
print(variable)
print(type(variable))

# Para ingresar otro tipo de dato estos se deben parsear

variable = int(input("Ahora debe ingresar un dato tipo <entero> "))
print(variable)
print(type(variable))

variable = float(input("Ahora debe ingresar un dato tipo <decimal> "))
print(variable)
print(type(variable))

Los datos ingresados serán tipo <string> 123
123
<class 'str'>
Ahora debe ingresar un dato tipo <entero> 123
123
<class 'int'>
Ahora debe ingresar un dato tipo <decimal> 123
123.0
<class 'float'>

### Operadores Lógicos

In [8]:
""" Para conocer más visite
    @see https://es.wikipedia.org/wiki/Tabla_de_verdad """

# =   operador de asignación
# ==  operador de igualdad
# !=  operador de desigualdad
# <   operador menor que
# >   operador mayor que
# <=  operador menor e igual que
# >=  operador mayor e igual que
# not operador de negación
# and operador (&, ^, y) lógico
# or  operador (||, o) lógico

print("1 es igual 1 ?",1 == 1)

print("2 es igual 3 ?",2 == 3)

print("Negamos (2 es igual 3 ?)", not (2 == 3)) # Es verdadero porque negamos

print("La verdad es diferente a la verdad ?",True != True)

print("Negamos la verdad",not True == True) # Es falso porque negamos

print("2 es menor que 3 ", 2 < 3)

print("Verdadero y falso es ", True and False)

print("Verdadero o falso es ", True or False)

1 es igual 1 ? True
2 es igual 3 ? False
Negamos (2 es igual 3 ?) True
La verdad es diferente a la verdad ? False
Negamos la verdad False
2 es menor que 3  True
Verdadero y falso es  False
Verdadero o falso es  True

## Estructuras de Control

### If... else

In [22]:
""" 
Si la condición if (...) sea verdadera
entonces realizara {...} 
caso contrario si (...) realizara {...}
caso contrario {...}
"""
# recordatorio

# a == b
# a != b
# a < b
# a <= b
# a > b
# a >= b

# Como la primera condición es verdadera entonces entra al if
if(True):
    print("condición 1") # No hay que olvidar la identación de 4 espacios

# Como la primera condición es falsa entonces realiza el caso contrario
if(False):
    pass # Palabra clave para realizar nada
else:
    print("condición 3")

"""
 Como la primera es falsa entonces verifica
 si el segundo caso es verdadero o falso
"""
if(3 < 3):
    pass
elif(2<3):
    print("2 es menor que 3")

# Como ningún caso se cumple entonces imprime el último caso
if(3 < 3):
    pass 
elif(4 < 3):
    pass
else:
    print("Ninguna condición se cumple")

# Se pueden usar también operadores lógicos
if((2 <= 1) or (1 == 1)): # Expresiones anidadas
    print("caso 1")
elif(4 < 3):
    pass
else:
    pass

if(type({})==dict):
    print("Es un diccionario")

condición 1
condición 3
2 es menor que 3
Ninguna condición se cumple
caso 1
Es un diccionario

### for

### while

### List

In [36]:
"""
En python a diferencia de otros lenguajes carece de arreglos
aunque hay una alternativa incluyendo la libreria numpy
"""

# Declaración

l = list()
print("este es l ", l)

lr = []
print("este es lr ", lr)

# Formas de generar listas con valores

lista = [i for i in range(10)]
print(lista)

lista_two = [[j for j in range(10)] for i in range(3)]
print("\n",lista_two)

lista_three = list(range(10))
print("\n",lista_three)

# Agregar valores a las listas

este es l  []
este es lr  []
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

 [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Tuple

### Set

In [ ]:
"""
    Los conjuntos se utilizan para almacenar varios elementos
    en una sola variable. Set es uno de los 4 tipos de datos
    integrados en Python que se utilizan para almacenar colecciones
    de datos, los otros 3 son List, Tuple y Dictionary, todos con
    diferentes calidades y usos.
"""

# Crea un conjunto con una serie de elementos entre llaves
# Los elementos repetidos se eliminan
c = {2, 4, 6, 8, 7, 3, 3}
print(c)
print(type(c),"\n")

# Crea un conjunto a partir de un string
# Los caracteres repetidos se eliminan
a = set('galex bh')
print(a)
print(type(a),"\n")

# Crea un conjunto a partir de una lista
# Los elementos repetidos de la lista se eliminan
unicos = set([4, 6, 2, 0, 9])
print(unicos)

print(type(unicos))

{2, 3, 4, 6, 7, 8}
<class 'set'>

{'g', 'x', 'h', ' ', 'l', 'e', 'a', 'b'}
<class 'set'>

{0, 2, 4, 6, 9}
<class 'set'>

### Diccionarios

In [ ]:
""" Los diccionarios se utilizan para almacenar
    valores de datos en pares clave:valor.
    
    Un diccionario es una colección desordenada,
    modificable y que no permite duplicados.  """

hashMap = {
  "clave": "valor",
  "numero": 1,
  "tupla": (2,3),
  "lista": [4,5,6],
  "dict": {"key":"value"}
}
print(hashMap)

{'clave': 'valor', 'numero': 1, 'tupla': (2, 3), 'lista': [4, 5, 6], 'dict': {'key': 'value'}}